/* css for event bubbling,capturing */

/* body * {
    border: 1px solid red;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
} */



/* css for event delegation*/
.products{
    display: grid;
    grid-template-columns:100px 100px 100px;
    grid-gap: 20px;
}

span{
    width: 100px;
    height: 100px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}